@import './styles/nav';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all .4s ease-in-out;
    font-family: 'SF Pro Display';
    list-style: none;

    a {
        text-decoration: none;
        color: #000;
    }
}

html {
    scroll-behavior: smooth;
}

.loader {
    text-align: center;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    // padding: 0 10px;
    background: #eaeaea;
    position: relative;
}

.loader {
    display: flex;
    align-items: center;
    justify-content: center;
}

#hero {
    width: 100%;
    // height: 500px;
    padding: 20px 0;
    background: url(./assets/rustic-wood-panel.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    border-radius: 15px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: end;
    flex-direction: column;
    // text-align: center;

    p{
        color: #b11f1f;
        font-weight: 700;
        font-size: 24px;
    }

    .img{
        width: 30%;
        img{
            width: 100%;
        }
    }

    .btn-wrap {
        display: flex;
        justify-content: center;
        align-items: end;
        gap: 30px;

    }

    .btn {
        margin-top: 50px;
        border: none;
        margin-bottom: 60px;
        border-radius: 0;
        background: none;

        a {
            color: #fff;
            width: 100%;
            padding: 15px 20px;
            background: #000;
            font-weight: 600;
            // font-size: 12px;
        }
    }

    .btn:hover {
        a {
            background: #fff;
            color: #000;
            border: 1px solid #000;
        }
    }
}

#latest,
#tv {
    text-align: center;
    margin-top: 5rem;
    margin-inline: 10px;

    h2 {
        text-align: center;
        font-size: 36px;
    }

    .btn {
        margin-top: 50px;
        border: none;
        border-radius: 0;
        background: none;

        a {
            color: #fff;
            width: 100%;
            padding: 15px 20px;
            background: #000;
            font-weight: 600;
            // font-size: 12px;
        }
    }

    .btn:hover {
        a {
            background: #fff;
            color: #000;
            border: 1px solid #000;
        }
    }

    .wrapper {
        margin-top: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: left;

        .card {
            background: #fff;
            padding: 10px;
            border-radius: 10px;
            box-shadow: 2px 4px 3px #ccc;
            // padding-bottom: 160px;

            .img {
                width: 100%;

                img {
                    width: 100%;
                }
            }

            .textBox {
                margin-top: 10px;

                .specs {
                    display: flex;
                    align-items: center;
                    gap: 30px;
                    margin-block: 20px;
                    // justify-content: space-between;

                    h4 {
                        font-size: 12px;
                        color: #777;
                    }
                }

                .req {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    p {
                        font-weight: 700;
                        font-size: 24px;
                    }

                    button {
                        background: #24FF00;
                        border: none;
                        padding: 10px 20px;
                        border-radius: 7px;
                        font-weight: 700;
                        display: flex;
                        gap: 10px;
                        align-items: center;

                        .icon {
                            font-size: 24px;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}

#tv h2 {
    text-align: left;
}

#products,
#main-products {
    // background: blue;
    text-align: center;
    margin-top: 5rem;
    margin-inline: 10px;

    h2 {
        font-size: 36px;
    }

    .btn {
        margin-top: 50px;
        border: none;
        border-radius: 0;
        background: none;

        a {
            color: #fff;
            width: 100%;
            padding: 15px 20px;
            background: #000;
            font-weight: 600;
            // font-size: 12px;
        }
    }

    .btn:hover {
        a {
            background: #fff;
            color: #000;
            border: 1px solid #000;
        }
    }

    .nav-rec {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 40px;
        gap: 120px;

        li {
            a {

                padding-inline: 20px;
                padding-block: 10px;
                font-size: 12px;
                cursor: pointer;
            }
        }

        .active {
            border-bottom: 2px solid #000;
            font-weight: 600;
        }

        .tab-link {
            border: none;
        }
    }

    .wrapper.Active {
        display: flex;
    }

    .wrapper {
        display: none;
        text-align: left;
        margin-top: 50px;
        gap: 50px;
        align-items: center;
        justify-content: space-around;

        .card {
            background: #fff;
            width: 300px;
            padding: 10px;
            border-radius: 10px;
            box-shadow: 2px 4px 3px #ccc;
            // padding-bottom: 160px;

            .img {
                width: 50%;
                margin: 0 auto;

                img {
                    width: 100%;
                }
            }

            .textBox {
                margin-top: 10px;

                .specs {
                    display: flex;
                    align-items: center;
                    gap: 30px;
                    margin-block: 20px;
                    // justify-content: space-between;

                    h4 {
                        font-size: 12px;
                        color: #777;
                    }
                }

                .req {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    p {
                        font-weight: 700;
                        font-size: 24px;
                    }

                    button {
                        background: #24FF00;
                        border: none;
                        padding: 10px 20px;
                        border-radius: 7px;
                        font-weight: 700;
                        display: flex;
                        gap: 10px;
                        align-items: center;

                        .icon {
                            font-size: 24px;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}

#latest,
#tv,
#products,
#main-products {
    .wrapper {
        flex-wrap: wrap;
    }
}

#main-products {
    .header {
        margin-top: 60px;
        text-align: left;
        font-size: 28px;
    }

    // .wrapper{
    //     display: flex;

    // }
}

footer {
    text-align: center;
    background: #000;
    color: #fff;
    padding: 20px 0;
    margin-top: 50px;
    font-size: 14px;
}


// ********** M E D I A  Q U E R I E S ***********
// !!!!! iMac !!!!!
@media(min-width:4000px) {

    #latest,
    #tv,
    #products,
    #main-products {
        h2 {
            font-size: 72px;
            margin-block: 100px;
        }

        .wrapper {
            justify-content: space-evenly;

            .card {
                width: 15%;
                padding: 20px;

                .textBox {
                    h3 {
                        font-size: 40px;
                    }

                    .specs {
                        h4 {
                            font-size: 24px;
                        }

                        p {
                            font-size: 32px;
                        }
                    }

                    .req {
                        p {
                            font-size: 45px;
                        }
                    }
                }
            }
        }
    }
}

@media(max-width:992px) {
    #hero{
        p{
            font-size: 18px;
        }
    }

    #latest,
    #tv,
    #products,
    #main-products {
        .nav-rec {
            gap: 50px;
        }

        .wrapper {
            justify-content: center;
            gap: 50px;
        }
    }
}

@media(max-width:500px) {
#hero{
    p{
        font-size: 14px;
    }
    .img{
        width: 50%;
        img{
            width: 100%;
        }
    }
}
    #latest,
    #tv,
    #products,
    #main-products {
        .nav-rec {
            li {
                a {
                    padding-inline: 0;
                }
            }
        }
    }
}